body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #f3e6e3;
   overflow-x: hidden;
  }
  
  .grid-demo {
    margin: 60px auto;
    padding-top: 0;
    height: auto;
    width: 90vw;
    text-align: left;
  }
 
  .grid {
    position: relative;
    margin: 0 auto;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  .item {
    position: absolute;
    line-height: 100px;
    margin: 10px;
    z-index: 1;
    will-change: transform;
  }
  .item.muuri-item-positioning {
    z-index: 2;
  }
  .item.muuri-item-dragging,
  .item.muuri-item-releasing {
    z-index: 9999;
  }
  .item.muuri-item-dragging {
    cursor: move;
  }
  .item.muuri-item-hidden {
    z-index: 0;
  }
  .tablists a{
      color: black;
  }
  .tablists a.active{
    background-color: black;
    color:white;
}
  
  



.slick-slide, .slick-slide::before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slick-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-slider {
  position: relative;
  margin: 0 auto;
  width: 1100px;
  height: 400px;
  margin-bottom: 50px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}
.main-slider.slick-initialized {
  opacity: 1;
  visibility: visible;
}

.slick-slide {
  cursor: pointer;
  position: relative;
  margin: 0 5px;
  margin-top: 7px;
  width: 330px;
  height: 300px;
  overflow: hidden;
}
.slick-slide::before {
  background-color: #000;
  opacity: .4;
  z-index: 1;
}
.slick-slide video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 300px;
  height: 300px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.slick-slide .slide-image {
  opacity: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.slick-slide .loading {
  position: absolute;
  top: 44%;
  left: 0;
  width: 100%;
}
.slick-slide .slide-media {
  -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active {
  height: 315px;
  width: 560px;
  margin-top: 0px;
  z-index: 1;
}
.slick-slide.slick-active .slide-media {
  -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active::before {
  display: none;
}

.slick-dots {
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.slick-dots li button {
    width: 22px;
    height: 22px;
  border: none;
  cursor: pointer;
  background-color: #776d8a;

  border-radius: 50%;
  border: 2px solid #d3c09a;
  box-shadow: 0 0 0 0 transparent;
  vertical-align: middle;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .4;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover {
  opacity: 1;
}
.slick-dots li.slick-active button {
    background-color: #776d8a;

  box-shadow: 0 0 0 2px #fff;
  opacity: 1;
}


@-webkit-keyframes slideIn {
  from {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes slideIn {
  from {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@-webkit-keyframes slideOut {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}
@keyframes slideOut {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}

  .slide-arrow{
    position: absolute;
  font-size: 18px;
  color:  #776d8a;
  background-color: transparent;
  top: 50%;
  height: 50px;
  width: 50px;
  margin-top: -15px;
  }
  .slide-arrow button:active {
    outline: none;
  }
  .imgarow{
    color:  #3a3446;
    background-color: transparent;
}
  .prev-arrow{
    top: 50%;
    left: 100px;
  border: transparent;
    border-radius: 50%;
    padding: 5px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 999;
  }
  .next-arrow{
    top: 50%;
    right: 50px;
    border: transparent;
    border-radius: 50%;
    padding: 5px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 999;
  }

  
.image-slider{
    height:100vh;
    width:100vw;
    margin: 0px;
    padding: 0px;

}
.image-slider a{
    margin: 0px;
    padding:0px;
    padding-bottom: 15px;
    box-shadow: 5px 1px 18px #888888 !important;

}
.image-slider .slick-list{
    height:90vh !important;
    box-shadow: 5px 7px 18px #888888 !important;
}
.image-slider .slick-list .slick-track .slick-slide {
    height:100% !important;
}





    label.error-block {
        color: red;
        font-size: 11px;
    }
    
    input.error,
    textarea.error,
    select.error {
        border-color: red;
    }
    
    input.mismatch,
    textarea.mismatch,
    select.mismatch {
        border-color: orange;
    }
    
    input.valid,
    textarea.valid,
    select.valid {
        border-color: green;
    }
    
    label.error {
        color: red;
    }
    
    label.mismatch {
        border-color: orange;
    }
    
    label.valid {
        color: green;
    }
     
      *, *:before, *:after {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      outline: 0;
    }
    .muuri-item{
      height:auto !important;
    } 
  
@media (min-width: 576px){
  .muuri-item{
    width:95%
  }
  
}


@media only screen and (max-width:400px)

{
  .muuri-item{
    width:95%
  }
}
@media only screen and (min-width:400px)

{
}
@media only screen and (min-width:600px)
{
}
@media only screen and (min-width:768px)
{ .muuri-item{
  width:45%
}
}
@media only screen and (min-width:912px){

}
@media only screen and (min-width:992px)
{ .muuri-item{
  width:30%
}
}
@media only screen and (min-width:1200px)
{
  .muuri-item{
    width:30%;
  }
}
